body{
    background-color: #0c0636;
    color: antiquewhite;
}
th,td{
    border: 2px antiquewhite solid;
    width: 300px;
}
h1{
    text-align: center;
    padding-bottom: 40px;
}
.div_tabela{
    display: flex;
    justify-content: center;
}
.div_botao{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
 .acoes{   /* usado para ajeitar o botao do ações. */
    display: flex;
    justify-content: center;
    gap: 8px;
}
.adicionar{
    background-color: #059b9a;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100px;
}
.adicionar a{
    text-decoration: none;
    color: black;
}
.central{
    text-align: center;
}
.edit a{
    text-decoration: none;
    color: black;
}
.delete{
    color: red;
}